body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
    background: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

table {
    margin: auto; /* Center the table */
    width: 90%; /* Full width of the parent element */
    border-collapse: collapse;
    table-layout: fixed;
    overflow-y: auto; /* Adds a vertical scrollbar if needed */
}

td, th {
    border: 1px solid white; 
    padding: 10px; 
    word-wrap: break-word;
    width: 100%; /* Full width of the parent element */
}

h1 {
    color: #7bfbde;
    text-align: center;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh; /* Adjust as needed */
    overflow-y: auto; /* Adds a vertical scrollbar if needed */
}

.new-line {
    display: block;
    margin: 10px 0; /* Adjust as needed */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black; /* or any color you prefer */
    color: white; /* or any color you prefer */
    z-index: 100; /* to ensure the navbar stays on top of other elements */
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    height: 100%; /* take up full height of navbar */
}

.navbar ul li {
    display: inline-block;
    margin: 0 50px; /* Adjust as needed */
}

.navbar ul li a {
    font-weight: bold;
    font-size: 20px; /* adjust as needed */
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #7bfbde; /* change color on hover, adjust as needed */
}

.navbar ul li a.active {
    color: #507CF2; /* change color of active link, adjust as needed */
}